@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbf9f5;
  --foreground: #0a0a0a;
}

.dark {
  --background: #0a0a0a;
  --foreground: #f0e8dc;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
